@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    border: none;
    background-color: #555;
    padding: 3rem 2rem;
    text-align: center;
    width: 400px;
    border-radius: 10px;
}
.container h1 {
    font-size: 45px;
    font-weight: 600;
    color: orange;
    margin-bottom: .5rem;
}
h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 1rem;
    color: #fff;
}
.container .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.btn {
    margin: 10px;
    padding: .5rem 1rem;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.decrease, .increase {
    background: orange;
    color: #fff;
    text-shadow: 1px 1px 2px black;

}
.reset {
    background: rgb(171, 3, 59) ;
    color: #fff;
}